<!-- <ion-header-bar class="bar-dark">
  <h1 class="title">Log in</h1>
</ion-header-bar> -->
<ion-view>
  <ion-content scroll="false">
    <section class="login-container">
      <div class="col header text-center">
        <img src="./img/icon.png" />
      </div>
      <div class="col button-row text-center">
        <img src="./img/facebook-button.png" />
      </div>
      <div class="col button-row text-center" ng-click="signup()">
        <img class= "signup" src="./img/email-button.png" />
      </div>
      <div class="col text-center">
        Already have an account <strong><a href="" ng-click="signin()">Sign in now!</a></strong>
      </div>
    </section>
  </ion-content>
</ion-view>
