<!-- <ion-header-bar class="bar-dark">
  <h1 class="title">Sign up</h1>
</ion-header-bar> -->
<ion-view>
  <ion-content scroll="false">
    <section class="signup-container">
      <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="First Name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Last Name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password">
      </label>
    </div>
      <!-- <div class="list"> -->
        <!-- <label class="item item-input item-stacked-label">
          <span class="input-label">First Name</span>
          <input type="text" placeholder="Brad">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Last Name</span>
          <input type="text" placeholder="Pitt">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="text" placeholder="brad.pitt@hollywood.com">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="********">
        </label> -->
      <!-- </div> -->
      <div class="col text-center">
        <button class="button button-positive">
          Create Account
        </button>
      </div>
    </section>
  </ion-content>
</ion-view>
